@media (max-width: 575.98px){
    #about{
        display: flex;
        flex-direction: column;
    }
    #gallery .nav_item li a {
        padding: 7px 15px;
    }
    #testimonial .comment {
        padding: 30px 0px;
    }
    #footer .bottom_footer p{
        text-align: center;
    }
    #footer .bottom_footer ul{
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    
}



/* // X-Small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    .container {
        width: 90%;
        /* border: 1px solid red; */
        margin: 0 auto;
    }

    .col-xs-1 {
        width: 8.333333333333334%;
        flex: 0 0 8.333333333333334%;
        /* flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 8.333333333333334%; */
    }

    .col-xs-2 {
        width: calc(8.333333333333334*2%);
        flex: 0 0 calc(8.333333333333334*2%);
    }

    .col-xs-3 {
        width: calc(8.333333333333334*3%);
        flex: 0 0 calc(8.333333333333334*3%);

    }

    .col-xs-4 {
        width: calc(8.333333333333334*4%);
        flex: 0 0 calc(8.333333333333334*4%);

    }

    .col-xs-5 {
        width: calc(8.333333333333334*5%);
        flex: 0 0 calc(8.333333333333334*5%);

    }

    .col-xs-6 {
        width: calc(8.333333333333334*6%);
        flex: 0 0 calc(8.333333333333334*6%);
    }

    .col-xs-7 {
        width: calc(8.333333333333334*7%);
        flex: 0 0 calc(8.333333333333334*7%);

    }

    .col-xs-8 {
        width: calc(8.333333333333334*8%);
        flex: 0 0 calc(8.333333333333334*8%);

    }

    .col-xs-9 {
        width: calc(8.333333333333334*9%);
        flex: 0 0 calc(8.333333333333334*9%);

    }

    .col-xs-10 {
        width: calc(8.333333333333334*10%);
        flex: 0 0 calc(8.333333333333334*10%);

    }

    .col-xs-11 {
        width: calc(8.333333333333334*11%);
        flex: 0 0 calc(8.333333333333334*11%);

    }

    .col-xs-12 {
        width: 100%;
        flex: 0 0 calc(8.333333333333334*12%);
    }

    .col-xs-12 {
        width: 100%;
        flex: 0 0 calc(8.333333333333334*12%);
    }
}