@media (max-width: 767.98px){
    #about{
        display: flex;
        flex-direction: column;
    }
    #footer .bottom_footer ul{
        justify-content: flex-start;
    }
    #footer .bottom_footer ul:first-child{
        margin-left: -10px;
    }
}

@media (max-width: 1200px){
    #about .right {
        padding: 75px;
    }
}

@media (max-width: 575.98px){
    #about{
        display: flex;
        flex-direction: column;
    }
    #header .center h1 {
        padding: 5px 20px;
    }

    #gallery .nav_item li a {
        padding: 7px 15px;
    }
    #testimonial .comment {
        padding: 30px 0px;
    }
    #footer .bottom_footer p{
        text-align: center;
    }
    #footer .bottom_footer ul{
        justify-content: center;
    }
    #footer .top_footer .container{
        width: 90%;
    }
}
